@import url(../styles/components/glassmorphism.css);

.__main-ctn{
    background: #000 url("about-us--image-bg.jpg") no-repeat;
    content: '';
    position: absolute;
    background-size: cover !important;
    opacity: 1;
    width: 100vw;
    min-height: 100vh;
    z-index: -2;
}

.__title{
  color: #FECEFE;
}

.__title, .__aboutus-text{

    text-shadow:
   -1px -1px 0 #23003e80,  
    1px -1px 0 #23003e80,
    -1px 1px 0 #23003e80,
     1px 1px 0 #23003e80;
  
}

.__aboutus-text{
  font-size: 1.15rem;
}


.__ctn-2{
    text-align: end;
}

body{
    color: #fff;
    overflow-x: hidden;
}

.glassmorphism {
  background: linear-gradient(120deg, 
  rgba(255, 255, 255, 0.08) 10.5%,
  rgba(205, 0, 157, 0.1) 50.5%,
  rgba(255, 0, 187, 0.1) 70.5%, 
  rgba(255, 153, 0, 0.1) 100%);

  

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(15px);

  box-shadow: rgba(0, 0, 0, 0.5) -10.75px 0px 12.5px;
  border-radius: 3% 0 0 3%;
}

@media screen and (max-width: 768px) {
  .__ctn-2 {
    text-align: justify;
    padding: 3rem;
  }

  .__title{
    text-align: center;
  }

.glassmorphism {
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 3% 3% 0 0;
}

.__aboutus-text{
  font-size: 1rem;
}
  
  
} 
