@import url("../index.css");

/**********/
/***** Main Footer Styles *****/
/**********/
footer{    
    width: 100vw;
    height: auto;
    padding: 0 !important;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #393939;

    z-index: 5;
    position: relative;
}

hr{
    width: 65%;
    opacity: 0.15;
}

/**********/
/***** Container 1 Styles *****/
/**********/

.__footer-ctn-1{
    background-color: #000;
    position: relative;
    height: 80%;
    width: 70%;
    transform: translate(0, -20%);
    box-shadow: .5rem 0.7rem 0.2rem 0px rgba(0, 0, 0, 0.3);
}

/**********/
/***** Container 2 Styles *****/
/**********/
.__footer-heading,
.__footer-social-icons > a
{
    color: var(--primary-clr-2);
}

.__footer-subctn-2{
    font-weight: bold;
}

.__footer-subctn-2 a{
    display: block;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}

.__footer-subctn-2 a:hover{
    text-decoration: underline;
}

.__footer-social-icons > i{
    text-shadow: .75px 1.5px 4px darkgrey;
}

.__footer-social-icons > a:hover{
    font-size: 1.65rem;
}

/**********/
/* Bootstrap Form Style Override) */ 
/**********/
.form-control:focus {
    border-color: var(--primary-clr-2);
    box-shadow: 0 0 0 0.25rem #402300;
} 

.__footer-submit-btn  > div > .btn:first-child {
    border-color: var(--primary-text-clr-1);
}

.__footer-submit-btn  > div > .btn:first-child:active, 
.__footer-submit-btn  > div > .btn:first-child:hover {
    color: var(--primary-text-clr-1);
    background-color: #523a1d33;
    border-color: #e3af6f;
}