/* On screens that are 460px wide or less */
@media screen and (max-width: 460px) {
    .__footer-social-icons{
        font-size: 1.15rem;
    }

    .__footer-submit-btn>div{
        margin-right: unset;
        
    }

}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    /* .__footer-ctn-1{
        position: absolute;
        box-shadow: .35rem 1rem 0.2rem 0px rgba(0, 0, 0, 0.3);
        top: 110%;
        left: 5vw;

    }  */ 

}



/* On screens that are 768px wide or less */
@media screen and (max-width: 769px)  {
    .__footer-social-icons{
        font-size: 1.2rem;
    }

    .__footer-submit-btn>div{
        margin-right: 0.9rem;
    }

    .__footer-submit-btn>div>button{
        font-size: 0.8rem;
    }

}

/* On screens that are 900px wide or less */
@media screen and (max-width: 900px)  {
    .form-text{
        margin-left: 0.2rem;
        font-size: 0.65rem;
    }
}

/* On screens that are 1200px wide or more */
@media screen and (min-width: 1200px)  {
    .__footer-social-icons{
        padding-left: unset !important;
    }
}