/* @import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;600;700&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

@import url("components/glassmorphism.css");
@import url("dishes.css");
@import url("/footer/styles.css");

@import url("components/navbar.css");
@import url("hero.css");

/* Hero Section */
/* font-family: 'Libre Caslon Text', serif; */
/* font-family: 'Montserrat'; */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */


/********** General Styles ************/
* {
  margin: 0;
  padding: 0;

  /* Based on Figma Used Colors   */
  --primary-clr-1: #E69C41;
  --primary-clr-2: #E3AF6F;

  --secondary-clr-1: #E77F45;
  --secondary-clr-2: #D65B16;
  
  /* Based on Selected Color Pallete (Unused)   */
  --primary-text-clr-1: #F5D540;
  --primary-text-clr-2: #FCC13A;
  --primary-text-clr-3: #E69C41;
  --primary-text-clr-4: #FF823D;
  --primary-text-clr-5: #F25638;

  
  
}

body{
  overflow-x: hidden;
}





/********** Hero Sect. Styles ************/

/*https://casifyve-web.jamemmanuelarev.repl.co*/


/********** GLASS MORPH TEXT ************/
.fs-1, .fs-2, .fs-3, .fs-4{
  color:#ffffff !important;
}

 .fs-1{
  font-family: 'Libre Caslon Text', serif;
  font-weight: bold;
  text-transform: uppercase;  /*oo d gumagana font size */
}

.fs-2 {
  font-family: 'Libre Caslon Text', serif;
  letter-spacing: 5px;
  font-weight: 900;
} 



.fs-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-right: 10px;
  
}

/********** GLASS MORPH TEXT ************/


.hero-box {
  display: grid;
  place-items:center;

}