@import url("components/navbar.css");

*{
   --menu-btn-clr-1:#D65B16;
   --ctn-clr-1: #E3AF6F;
}

body {
   background-color: #FCC13A;
   /* overflow-x: hidden; */
}

/* .__part-1 .__discpHolder{
  
background-color: #FCC13A;
}
.__part-1 .__discpHolder .__discpBox {
   height: 18rem;
   border: 1px solid #000;
   filter: drop-shadow(5px 5px 3px ); 
} */


.__main-menu-container1 {
   justify-content: center;
   flex-direction: column;
}

.__main-menu-container2 {
   justify-content: center;
   flex-direction: column;
}

.row1 {
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
}

.row2 {
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
}

.__first-dish-container {
   padding-right: 15px;
}

.__first-dish-container,
.__second-dish-container,
.__third-dish-container,
.__fourth-dish-container,
.__fifth-dish-container,
.__sixth-dish-container {
   filter: drop-shadow(5px 5px 3px);
   background-color: #E3AF6F;
}

/* .__menu-hr-line{
   width: 25%;
   display: inline-block;
   height: 1rem;
} */



/********** Part-1 - Silog Meal and HR Sect. Styles ************/
/********** ************/

.__divider span {
   display: inline-block;
   margin: 0.45rem 0;
}

.__divider span:first-child,
.__divider span:last-child {
   max-width: 30vw;
   min-height: 2vh;
   border-radius: 1rem;
} /* Size of HR */

.__divider span:first-child {
   background-image: linear-gradient(-90deg, #923f1310 1%, #924013 30%, #7D4223 60%, transparent);
} /* Color of HR-Left */

.__divider span:nth-child(2) {
   color: #551f02;
   font-family: 'Inter';
   text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} /* Middle Text */

.__divider span:last-child {
   background-image: linear-gradient(90deg, #923f1310 1%, #924013 30%, #7D4223 60%, transparent);
} /* Color of HR-Right */

/********** ************/

/********** ************/

.__menu-main-ctn > div{
   width: 18rem;
   background-color: var(--ctn-clr-1);
   box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.35);
   border: 0.1px solid rgba(0, 0, 0, 0.35);
}

.__menu-main-ctn > .card > .card-img-top {
   min-width: 100%;
   height: 155px !important;
   border-radius: 2%;
}

.card-text{
   min-height: 50px;
}

.card-title{
   font-weight: bolder;
   text-transform: uppercase;
}

.card-body a, card-body a:hover , .card-body a:active{
   background-color: var(--menu-btn-clr-1);

}


.card-body a{
   color: #000;
   font-weight: bolder;
   border: 0.5px solid rgba(0, 0, 0, 0.55);
}

.card-body a:hover , .card-body a:active{
   background-color: var(--menu-btn-clr-1);
   border: 0.1px solid rgba(0, 0, 0, 0.1);
   box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.55);
}
